@import "tailwindcss";

/* Custom Fonts */
@font-face {
    font-family: 'Moby';
    src: url('/fonts/Moby-Bold.woff2') format('woff2'),
        url('/fonts/Moby-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Moby';
    src: url('/fonts/Moby-Regular.woff2') format('woff2'),
        url('/fonts/Moby-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Hack';
    src: url('/fonts/Hack-Bold.woff2') format('woff2'),
        url('/fonts/Hack-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Hack';
    src: url('/fonts/Hack-BoldItalic.woff2') format('woff2'),
        url('/fonts/Hack-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Hack';
    src: url('/fonts/Hack-Italic.woff2') format('woff2'),
        url('/fonts/Hack-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Hack';
    src: url('/fonts/Hack-Regular.woff2') format('woff2'),
        url('/fonts/Hack-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --background: #151029;
  --foreground: #ffffff;
  --primary: "#422B71",
  --blueC: "#2DA9E1",
  --redC: "#C0282D",
  --white: "#FFFFFF",
  --black: "#000000",
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-blueC: var(--blueC);
  --color-redC: var(--redC);
  --color-white: var(--white);
  --color-black: var(--black);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #151029;
    --foreground: #ffffff;
    --primary: #422B71;
    --blueC: #2DA9E1;
    --redC: #C0282D;
    --white: #FFFFFF;
    --black: #000000;
  }
  }


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Hack', Arial, Helvetica, sans-serif;
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--color-redC) transparent;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Moby', Arial, Helvetica, sans-serif;
}
p {
  font-family: 'Hack', Arial, Helvetica, sans-serif;
}

html {
  scrollbar-gutter: stable overlay;
}

/* Hide scrollbar when not scrolling (Chromium/Webkit browsers) */
body::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: var(--color-redC);
  border-radius: 4px;
}
body::-webkit-scrollbar {
  display: none;
}

