.carouselRoot {
  width: 100%;
  max-width: 682px;
  height: 300px;
  position: relative;
  backdrop-filter: blur(2px);
  margin: 0 auto;
  overflow: hidden;
  padding-top: 24px;
  padding-bottom: 24px;
}

@media (max-width: 800px) {
  .carouselRoot {
    max-width: 98vw;
    height: 220px;
  }
}

.carouselFrame {
  width: 100%;
  height: 100%;
  position: relative;
}

.arrowLeft {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 30;
  padding: 0;
}

.arrowRight {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 30;
  padding: 0;
}

.leftFade {
  position: absolute;
  left: 0;
  top: 0;
  width: 15%;
  height: 100%;
  background: linear-gradient(90deg, #151029 70%, rgba(21, 16, 41, 0) 100%);
  z-index: 20;
  pointer-events: none;
}

.rightFade {
  position: absolute;
  right: 0;
  top: 0;
  width: 15%;
  height: 100%;
  background: linear-gradient(270deg, #151029 70%, rgba(21, 16, 41, 0) 100%);
  z-index: 20;
  pointer-events: none;
} 