.heroSection {
  width: 60%;
  max-width: 400px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 8px;
  position: relative;
}

.mainText {
  font-size: clamp(0.4rem, 4vw, 1.6rem);
  font-weight: 700;
  margin:  0.5em;
  text-align: center;
  white-space: nowrap;
}

.middleText {
  font-size: clamp(0.7rem, 3vw, 1.3rem);
  font-weight: 500;
  margin: 0.5em;
  text-align: center;
  color: #ffffff;
}

.secondaryText {
  font-size: clamp(0.65rem, 2.5vw, 1.1rem);
  color: #ffffff;
  margin: 2px 0 0 0;
  text-align: center;
}

.heroBlurBox {
  position: relative;
  background: rgba(21, 16, 41, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 2.5em;
  padding: 0.1em 0.1em;
  margin: 1em 0;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroBlur {
  display: none;
} 