.socialLinks {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s cubic-bezier(0.4,0,0.2,1), color 0.3s cubic-bezier(0.4,0,0.2,1), fill 0.3s cubic-bezier(0.4,0,0.2,1);
  cursor: pointer;
}

.iconWrapper:hover > *,
.iconWrapper:focus-visible > * {
  transform: scale(2);
  color: #CCBBE9 !important;
  fill: #CCBBE9 !important;
} 